{{>head}}
{{>navbar}}
<div class="row">
  <div class="col-8">
    <h1>Capitan América</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum optio ducimus vero consectetur deleniti, aspernatur et maiores natus cum consequuntur.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/capitan-america.jpg" class="img-thumbnail" alt="">
  </div>
</div>
 
{{>footer}}